<li><%= link_to('ホーム', '/') %></li>
<li><%= link_to('ミッション', '/mission.html') %></li>
<li><%= link_to('メンバー', '/staff.html') %></li>
<li><%= link_to('研究成果', '/research.html') %></li>
<li><%= link_to('ニュース', '/news.html') %></li>
<li><%= link_to('ラボ・ミーティグ', '/lab_meeting.html') %></li>
<li><%= link_to('アクセス', '/access.html') %></li>
<li><%= link_to('関連サイト', '/links.html') %></li>

